@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
body {    
    text-align: center;
    font-family: 'Dosis', sans-serif; 
    background-color: rgba(255, 0, 0, 0.733);
    margin: 0%;
  }
  h1{   
    font-size: 50px;  
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow ;
    -webkit-text-stroke: 1px blue;
    margin-top: 0;
    margin-bottom: 0; 
  }
  .pokemon-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;   
    gap: 60px; 
  }
  .pokemon-block {
  border-radius: 35px;
  width: 300px; 
  background-color: white;
  box-shadow: 0 15px 25px rgba(20, 1, 1, 0.932);
}
